body{
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container{
  background: #ffffff;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

h1{
  margin-bottom: 20px;
}

#options{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#options button{
  display: black;
  width: 100%;
  margin: 12px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #e0e0e0;
  text-align: center;
}

#options button.correct{
  background-color: #f44336;
  color: #fff;
}

#nextBtn{
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #2196f3;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.hidden{
  display: none;
}
